body {
    background-color: skyblue;
    font-size: 1em;
}

.header {
    margin: auto;
    width: 50%;
    align-content: center;
    text-align: center;
    color: white;
}

.weather-info {
    margin: auto;
    margin-top: 5%;
    height: 20em;
    width: 20em;
    text-align: center;
    border: solid white;
    color: white;
    border-radius: 50%;
    padding: 2%;
}

.temp {
    font-size: 4em;
    margin: auto;
}